---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>From Python to Javascript, SQL, C#, Docker or any Deep Learning Framework.. I love learning new things and broadening my skills.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Team Lover</h2>
		<p>Working in any teams, programming together, learning and techning new skills are my bread and butter while working</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Research-Minded</h2>
		<p>I'm very curious about advances in AI research. I have already contributed to the publication of several articles on Deep Learning of Graphs or Federated Learning.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
